{% extends 'base.html' %}

{% block meta %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

{% block title %}
<title>MTP | Web App</title>
{% endblock %}

{% endblock %}

{% block header %}
<h1 class="mt-4">Savings Dashboard</h1>
<div class="breadcrumb mb-4">
    {% if not current_user.is_anonymous %}
    <a class="btn btn-secondary" style="margin: 2px;" role="button" href="{{ url_for('blog.index') }}">Blog</a>
    <a class="btn btn-info" style="margin: 2px;" role="button" href="#">Reporting</a>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="margin: 2px;">
            Budget
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('budget.summary') }}">Summary</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('budget.add_revenue_entry') }}">Add Revenue</a>
            <a class="dropdown-item" href="{{ url_for('budget.add_expense_entry') }}">Add New Expense</a>
            <a class="dropdown-item" href="{{ url_for('budget.add_utilities_entry') }}">Add Utilities</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('budget.validation') }}">See Validation</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="margin: 2px;">
            Webtools
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('webtools.url_encode_decode_parse') }}">URL Encoder/Decoder & Parse</a>
        </div>
    </div>
    <a class="btn btn-light" style="margin: 2px;" role="button" href="#">Data flow</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div id="layoutBudgetIndex">
    <div id="layoutBudgetIndex_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-bdgt-1">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Add new Savings
                                Entry</h3></div>
                            <div class="card-body">
                               <form action="{{ url_for('budget.add_savings_entry') }}" id="savings-form"
                                      method="post">
                                    {{ savings_form.hidden_tag() }}
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    {{ savings_form.savings_date.label(for='savings-form') }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_value.label(for='savings-form') }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_source.label(for='savings-form') }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_reason.label(for='savings-form') }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_action.label(for='savings-form') }}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    {{ savings_form.savings_date(form='savings-form',
                                                    class='form-control py-4', placeholder="Ex.: 2021-01-15") }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_value(form='savings-form',
                                                    class='form-control py-4', placeholder="Ex.: 500") }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_source(form='savings-form',
                                                    class='form-select py-4') }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_reason(form='savings-form',
                                                    class='form-select py-4') }}
                                                </th>
                                                <th>
                                                    {{ savings_form.savings_action(form='savings-form',
                                                    class='form-select py-1') }}
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{ savings_form.submit_savings(form='savings-form', value="Save", class="btn
                                    btn-primary") }}
                                    <a class="btn btn-danger" href="{{ url_for('budget.summary') }}">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <strong>Savings Summary</strong> - {{ table_counts.get('saving_count') }} entries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="savings-summary-table" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Savings Date</th>
                    <th>Savings Value</th>
                    <th>Savings Source</th>
                    <th>Savings Reason</th>
                    <th>Savings Action</th>
                </tr>
                </thead>
                <tbody class="post">
                {% for entry in db_queries.query_savings_entries() %}
                <tr>
                    <th class="small mb-1">{{ entry['id'] }}</th>
                    <th class="small mb-1">{{ entry['saving_date'] }}</th>
                    <th class="small mb-1">{{ entry['saving_value'] }}</th>
                    <th class="small mb-1">{{ entry['saving_source'] }}</th>
                    <th class="small mb-1">{{ entry['saving_reason'] }}</th>
                    <th class="small mb-1">{{ entry['saving_action'] }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
      $('#savings-summary-table').DataTable({
        serverSide: true,
        ajax: {
            url: '/api/data',
            data: {
                loc_path: (function(data) {
                        data = window.location.pathname;
                        return data;
                        }())
                }
            },
        columns: [
          {data: "id", orderable: false},
          {data: "saving_date"},
          {data: "saving_value"},
          {data: "saving_source", orderable: false},
          {data: "saving_reason", orderable: false},
          {data: "saving_action", orderable: false},
        ],
        });
        });
</script>
{% endblock %}
{% endblock %}