{% extends 'budget_base.html' %}

{% block budget_data %}
<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card text-center">
            <div class="card-header">
                Current month summary
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ summary_data['date'] }}</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" id="summary-table-1" width="100%" cellspacing="0">
                        <thead>
                        <tr class="table-active">
                            <th>Total value for this month</th>
                            <th>Total useful value for this month</th>
                        </tr>
                        </thead>
                        <tbody class="post">
                        <tr>
                            <th class="h4 table-primary" data-toggle="tooltip" data-placement="bottom"
                                title="All revenue summed">RON {{
                                '{:,}'.format(summary_data['current_month_total_revenue']) }}
                            </th>
                            <th class="h4 table-primary" data-toggle="tooltip" data-placement="bottom"
                                title="Revenue - Cost of Rent & Utilities">RON {{
                                '{:,}'.format(summary_data['current_month_useful_money']) }}
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm" id="summary-table-2" width="100%" cellspacing="0">
                        <thead>
                        <tr class="table-active">
                            <th>Total money spent this month</th>
                            <th>Total spendable money for this month</th>
                        </tr>
                        </thead>
                        <tbody class="post">
                        <tr>
                            <th class="h4 table-danger" data-toggle="tooltip" data-placement="bottom"
                                title="Overall expense summed">
                                RON {{ '{:,}'.format(summary_data['current_month_total_expense']
                                |round(2) ) }}
                            </th>
                            <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                title="Overall Revenue - Overall Expense">RON {{
                                '{:,}'.format(summary_data['current_month_spendable_money']
                                |round(2) ) }}
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-secondary" onclick="update(category_data.responseJSON.data)
">Expense by Category
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="update(item_data.responseJSON.data)
">Expense by Item
                    </button>
                </div>
            </div>
        </div>
        <div id="my_dataviz"></div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card text-center">
            <div class="card-header">
                Saving Summary
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" id="summary-table-4" width="100%" cellspacing="0">
                        <thead>
                        <tr class="table-active">
                            <th>EC Account</th>
                            <th>ED Account</th>
                            <th>IF Account</th>
                            <th>Revolut Vault</th>
                        </tr>
                        </thead>
                        <tbody class="post">
                        <tr>
                            <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                title="All money in EC Account Summed">RON {{ '{:,}'.format(summary_data['ec_savings']
                                |round(2) )
                                }}
                            </th>
                            <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                title="All money in ED Account Summed">RON {{ '{:,}'.format(summary_data['ed_savings']
                                |float|round(2)
                                ) }}
                            </th>
                            <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                title="All money in IF Account Summed">RON {{ '{:,}'.format(summary_data['if_savings']
                                |round(2) )
                                }}
                            </th>
                            <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                title="All money in Revolut Vault Summed">TBA
                            </th>
                        </tr>
                        <tr class="table-active">
                            <th colspan="4">Total Savings</th>
                        </tr>
                        <tr class="table-danger">
                            <th colspan="4" class="h4" data-toggle="tooltip" data-placement="bottom"
                                title="Overall Summed Savings">RON {{ '{:,}'.format(summary_data['savings_total']
                                |round(2) )
                                }}
                            </th>
                        </tr>
                        <tr class="table-warning">
                            <th colspan="3">EUR Quick View</th>
                            <th>
                                <button type="button" class="btn btn-secondary btn-sm" name="show_eurview">Show</button>
                                <button type="button" class="btn btn-secondary btn-sm" name="hide_eurview"
                                        style="display: none;">Hide
                                </button>
                            </th>
                        </tr>
                        <tr class="table-primary eurview" style="display: none;">
                            <th colspan="3" class="text-left">EC Account</th>
                            <th colspan="3" class="h4 table-success">€ {{ '{:,}'.format(summary_data['ec_savings_EUR']
                                |float|round(2)
                                ) }}
                            </th>
                        </tr>
                        <tr class="table-primary eurview" style="display: none;">
                            <th colspan="3" class="text-left">ED Account</th>
                            <th colspan="3" class="h4 table-success">€ {{ '{:,}'.format(summary_data['ed_savings_EUR']
                                |float|round(2)
                                ) }}
                            </th>
                        </tr>
                        <tr class="table-primary eurview" style="display: none;">
                            <th colspan="3" class="text-left">IF Account</th>
                            <th colspan="3" class="h4 table-success">€ {{ '{:,}'.format(summary_data['if_savings_EUR']
                                |float|round(2)
                                ) }}
                            </th>
                        </tr>
                        <tr class="table-primary eurview" style="display: none;">
                            <th colspan="3" class="text-left">Revolut Vault Account</th>
                            <th colspan="3" class="h4 table-success">TBA
                            </th>
                        </tr>
                        <tr class="table-primary eurview" style="display: none;">
                            <th colspan="3" class="text-left">Total Savings Account</th>
                            <th colspan="3" class="h4 table-success">€ {{
                                '{:,}'.format(summary_data['savings_total_EUR'] |round(2) )
                                }}
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    Cash Flow
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm" id="summary-table-5" width="100%" cellspacing="0">
                            <thead>
                            <tr class="table-active">
                                <th>Bank</th>
                                <th>Revolut</th>
                                <th>Cash</th>
                            </tr>
                            </thead>
                            <tbody class="post">
                            <tr>
                                <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                    title="Overall money available in Bank">TBA
                                </th>
                                <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                    title="Overall money available on Revolut">TBA
                                </th>
                                <th class="h4 table-success" data-toggle="tooltip" data-placement="bottom"
                                    title="Overall cash money">TBA
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card text-center">
        <div class="card-header">
            This month expenses summarized
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="summary-table-3" width="100%" cellspacing="0">
                    <thead>
                    <tr class="table-success">
                        <th>Date</th>
                        <th>Total Spent</th>
                        <th>Items</th>
                        <th>Category</th>
                    </tr>
                    </thead>
                    <tbody class="post">
                    {% for entry in summary_data['current_month_summary'] %}
                    <tr>
                        <th class="table-primary">{{ entry[1].strftime('%A, %B %d') }}</th>
                        <th class="table-warning">{{ entry[2] }}</th>
                        <th class="table-warning">{{ entry[3] }}</th>
                        <th class="table-warning">{{ entry[4] }}</th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/graphs.js') }}"></script>
{% endblock %}
{% endblock %}