{% extends 'base.html' %}

{% block meta %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

{% block title %}
<title>MTP | Web App</title>
{% endblock %}

{% endblock %}

{% block header %}
<h1 class="mt-4">Utilities Dashboard</h1>
<ol class="breadcrumb mb-4">
    {% if not current_user.is_anonymous %}
    <li>
        <a class="btn btn-primary btn-secondary" style="margin: 2px;" href="{{ url_for('blog.index') }}">Blog</a>
    </li>
    <li>
        <a class="btn btn-primary btn-primary" style="margin: 2px;" href="{{ url_for('budget.summary') }}">Summary</a>
    </li>
    <li>
        <a class="btn btn-primary btn-info" style="margin: 2px;" href="#">Reporting</a>
    </li>
    <li>
        <a class="btn btn-primary btn-success" style="margin: 2px;" href="{{ url_for('budget.add_expense_entry') }}">Add
            New
            Expense</a>
    </li>
    <li>
        <a class="btn btn-primary btn-success" style="margin: 2px;" href="{{ url_for('budget.add_revenue_entry') }}">Add
            Revenue</a>
    </li>
    <li>
        <a class="btn btn-primary btn-success" style="margin: 2px;" href="{{ url_for('budget.add_savings_entry') }}">Add
            Savings</a>
    </li>
    <li>
        <a class="btn btn-primary btn-primary" style="margin: 2px;" href="{{ url_for('budget.validation') }}">See
            Validation</a>
    </li>
    <li>
        <a class="btn btn-primary btn-light" style="margin: 2px;" href="{# {{ url_for('dataflow.index') }} #}#">Data flow</a>
    </li>
    {% endif %}
</ol>
{% endblock %}

{% block cards %}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Table info</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                {% with no_errors = get_flashed_messages(category_filter=["validated"]) %}
                {% if no_errors %}
                {% for msg in no_errors %}
                <p class="small text-white stretched-link"> {{ msg }} </p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Error messages</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                {% for msg in errors %}
                <p class="small text-white stretched-link">{{ msg }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="layoutBudgetIndex">
    <div id="layoutBudgetIndex_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-bdgt-1">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Add new Utilities
                                Entry</h3></div>
                            <div class="card-body">
                                    <form action="{{ url_for('budget.add_utilities_entry') }}" id="utilities-form"
                                      method="post">
                                    {{ utilities_form.hidden_tag() }}
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    {{ utilities_form.utilities_date.label(for='utilities-form') }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_rent.label(for='utilities-form') }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_energy.label(for='utilities-form') }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_satellite.label(for='utilities-form') }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_maintenance.label(for='utilities-form') }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_details.label(for='utilities-form') }}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    {{ utilities_form.utilities_date(form='utilities-form',
                                                    class='form-control py-4', placeholder="Ex.: 2021-01-15") }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_rent(form='utilities-form',
                                                    class='form-control py-4', placeholder="Ex.: 15.25") }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_energy(form='utilities-form',
                                                    class='form-control py-4', placeholder="Ex.: 15.25") }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_satellite(form='utilities-form',
                                                    class='form-control py-4', placeholder="Ex.: 15.25") }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_maintenance(form='utilities-form',
                                                    class='form-control py-4', placeholder="Ex.: 15.25") }}
                                                </th>
                                                <th>
                                                    {{ utilities_form.utilities_details(form='utilities-form',
                                                    class='form-control py-4', placeholder="Ex.: For the month of June")
                                                    }}
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{ utilities_form.submit_utilities(form='utilities-form', value="Save", class="btn
                                    btn-primary") }}
                                    <a class="btn btn-danger" href="{{ url_for('budget.summary') }}">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <strong>Utilities Summary</strong> - {{ table_counts.get('utilities_count') }} entries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="utilities-summary-table" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Utilities Date</th>
                    <th>Utilities Rent</th>
                    <th>Utilities Energy</th>
                    <th>Utilities Satellite</th>
                    <th>Utilities Maintenance</th>
                    <th>Utilities Details</th>
                </tr>
                </thead>
                <tbody class="post">
                {% for entry in _object.query_utilities_entry %}
                <tr>
                    <th class="small mb-1">{{ entry['id'] }}</th>
                    <th class="small mb-1">{{ entry['utilities_date'] }}</th>
                    <th class="small mb-1">{{ entry['utilities_rent_value'] }}</th>
                    <th class="small mb-1">{{ entry['utilities_energy_value'] }}</th>
                    <th class="small mb-1">{{ entry['utilities_satellite_value'] }}</th>
                    <th class="small mb-1">{{ entry['utilities_maintenance_value'] }}</th>
                    <th class="small mb-1">{{ entry['utilities_info'] }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
      $('#utilities-summary-table').DataTable({
        serverSide: true,
        ajax: {
            url: '/api/data',
            data: {
                loc_path: (function(data) {
                        data = window.location.pathname;
                        return data;
                        }())
                }
            },
        columns: [
          {data: "id", orderable: false},
          {data: "utilities_date"},
          {data: "utilities_rent_value"},
          {data: "utilities_energy_value"},
          {data: "utilities_satellite_value"},
          {data: "utilities_maintenance_value"},
          {data: "utilities_info", orderable: false},
        ],
        });
        });
</script>
{% endblock %}
{% endblock %}