{% extends 'base.html' %}

{% block meta %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

{% block title %}
<title>MTP | Web App</title>
{% endblock %}

{% endblock %}

{% block header %}
<h1 class="mt-4">Revenue Dashboard</h1>
<!--
    <ol class="breadcrumb mb-4">
        {% if g.user %}
        <li>
            <a class="btn btn-primary" href="{{ url_for('mtp.create') }}">New Post</a>
        </li>
        {% endif %}
    </ol>
-->
{% endblock %}

{% block cards %}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Table info</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                {% with no_errors = get_flashed_messages(category_filter=["validated"]) %}
                {% if no_errors %}
                {% for msg in no_errors %}
                <p class="small text-white stretched-link"> {{ msg }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Error messages</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                {% for msg in errors %}
                <p class="small text-white stretched-link">{{ msg }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="layoutBudgetIndex">
    <div id="layoutBudgetIndex_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-bdgt-1">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Add new Revenue
                                Entry</h3></div>
                            <div class="card-body">
                                <form method="post" id="revenue-form">
                                    {{ revenue_form.hidden_tag() }}
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    <label>Date</label>
                                                </th>
                                                <th>
                                                    <label>Revenue</label>
                                                </th>
                                                <th>
                                                    <label>Source</label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    {{ revenue_form.revenue_date(form='revenue-form',
                                                    class='form-control py-4', placeholder="Ex.: 2021-01-15") }}
                                                </th>
                                                <th>
                                                    {{ revenue_form.revenue_value(form='revenue-form',
                                                    class='form-control py-4', placeholder="Ex.: 15.25") }}
                                                </th>
                                                <th>
                                                    {{ revenue_form.revenue_source(form='revenue-form',
                                                    class='form-select py-4') }}
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{ revenue_form.submit_revenue(form='revenue-form', value="Save", class="btn
                                    btn-primary") }}
                                    <a class="btn btn-danger" href="{{ url_for('budget.summary') }}">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Revenue Summary
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Revenue Date</th>
                    <th>Revenue Value</th>
                    <th>Revenue Source</th>
                </tr>
                </thead>
                {% for entry in _object.query_revenue_entries %}
                <tbody class="post">
                <tr>
                    <th class="small mb-1">{{ entry['id'] }}</th>
                    <th class="small mb-1">{{ entry['revenue_date'] }}</th>
                    <th class="small mb-1">{{ entry['revenue_value'] }}</th>
                    <th class="small mb-1">{{ entry['revenue_source'] }}</th>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}