{% extends 'base.html' %}

{% block meta %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% block title %}
    <title>MTP | Web App</title>
    {% endblock %}

{% endblock %}

{% block header %}
<h1 class="mt-4">Posts Dashboard</h1>
<!--
    <ol class="breadcrumb mb-4">
        {% if g.user %}
        <li>
            <a class="btn btn-primary" href="{{ url_for('mtp.create') }}">New Post</a>
        </li>
        {% endif %}
    </ol>
-->
{% endblock %}

{% block cards %}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">All fields are required.</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
<!--                <a class="small text-white stretched-link" href="#">All fields are mandatory</a>-->
<!--                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Error messages</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                {% for message in get_flashed_messages() %}
                    <a class="small text-white stretched-link">{{ message }}</a>
                {% endfor %}
<!--                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="layoutBudgetIndex">
            <div id="layoutBudgetIndex_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-bdgt-1">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Add new Savings Entry</h3></div>
                                    <div class="card-body">
                                      <form method="post" id="savings-form">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th style="font-weight= bold;">
                                                            <label>Date</label>
                                                        </th>
                                                        <th>
                                                            <label>Value</label>
                                                        </th>
                                                        <th>
                                                            <label>Source</label>
                                                        </th>
                                                        <th>
                                                            <label>Reason</label>
                                                        </th>
                                                        <th>
                                                            <label>Action</label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            {{ savings_form.savings_date(form='savings-form', class='form-control py-4', placeholder="Ex.: 2021-01-15") }}
                                                        </th>
                                                        <th>
                                                            {{ savings_form.savings_value(form='savings-form', class='form-control py-4', placeholder="Ex.: 500") }}
                                                        </th>
                                                        <th>
                                                            {{ savings_form.savings_source(form='savings-form', class='form-select py-4') }}
                                                        </th>
                                                        <th>
                                                            {{ savings_form.savings_reason(form='savings-form', class='form-select py-4') }}
                                                        </th>
                                                        <th>
                                                            {{ savings_form.savings_action(form='savings-form', class='form-select py-1') }}
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                          {{ savings_form.submit_savings(form='savings-form', value="Save", class="btn btn-primary") }}
                                          <a class="btn btn-danger" href="{{ url_for('budget.summary') }}">Cancel</a>
                                      </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                </main>
            </div>
</div>
{% endblock %}