{% extends 'base.html' %}

{% block meta %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

{% block title %}
<title>MTP | Web App</title>
{% endblock %}

{% endblock %}


{% block header %}
<h1 class="mt-4">Budget Dashboard</h1>
<ol class="breadcrumb mb-4">
    {% if g.user %}
    <li>
        <a class="btn btn-primary btn-secondary" style="margin: 2px;" href="{{ url_for('mtp.index') }}">Blog</a>
    </li>
    <li>
        <a class="btn btn-primary btn-info" style="margin: 2px;" href="#">Reporting</a>
    </li>
    <li>
        <a class="btn btn-primary btn-info" style="margin: 2px;" href="#">Statistics</a>
    </li>
    <li>
        <a class="btn btn-primary btn-info" style="margin: 2px;" href="#">Lookup</a>
    </li>
    <li>
        <a class="btn btn-primary btn-success" style="margin: 2px;" href="{{ url_for('budget.add_expense_entry') }}">Add
            New Expense</a>
    </li>
    <li>
        <a class="btn btn-primary btn-success" style="margin: 2px;" href="{{ url_for('budget.add_revenue_entry') }}">Add
            Revenue</a>
    </li>
    <li>
        <a class="btn btn-primary btn-success" style="margin: 2px;" href="{{ url_for('budget.add_savings_entry') }}">Add
            Savings</a>
    <li>
        <a class="btn btn-primary btn-success" style="margin: 2px;" href="{{ url_for('budget.add_utilities_entry') }}">Add
            Utilities</a>
    </li>
    <li>
        <a class="btn btn-primary btn-primary" style="margin: 2px;" href="{{ url_for('budget.validation') }}">See
            Validation</a>
    </li>
    <li>
        <a class="btn btn-primary btn-light" style="margin: 2px;" href="{{ url_for('dataflow.importer') }}">Importer</a>
    </li>
    <li>
        <a class="btn btn-primary btn-light" style="margin: 2px;" href="{{ url_for('dataflow.exporter') }}">Exporter</a>
    </li>
    {% endif %}
</ol>
{% endblock %}


{% block cards %}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Table Summary</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <p class="small text-white stretched-link">
                    <strong>{{ table_counts.get('expense_count') }} Expense entries</strong><br />
                    <strong>{{ table_counts.get('revenue_count') }} Revenue entries</strong><br />
                    <strong>{{ table_counts.get('savings_count') }} Savings entries</strong></p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Success Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <p class="small text-white stretched-link">View Details</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Warning Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <p class="small text-white stretched-link">View Details</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Error message Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                {% with errors = get_flashed_messages() %}
                {% if errors %}
                {% for error in errors %}
                <p class="small text-white stretched-link">{{ error }}</p>
                {% endfor %}
                {% else %}
                <p class="small text-white stretched-link">View Details</p>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Expense - {{ table_counts.get('expense_count') }} entries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Expense Date</th>
                    <th>Expense Item</th>
                    <th>Expense Value</th>
                    <th>Expense Category</th>
                    <th>Expense Source</th>
                </tr>
                </thead>
                {% for entry in _object.query_expense_entries %}
                <tbody class="post">
                <tr>
                    <th class="small mb-1">{{ entry['id'] }}</th>
                    <th class="small mb-1">{{ entry['expense_date'] }}</th>
                    <th class="small mb-1">{{ entry['expense_item'] }}</th>
                    <th class="small mb-1">{{ entry['expense_value'] }}</th>
                    <th class="small mb-1">{{ entry['expense_item_category'] }}</th>
                    <th class="small mb-1">{{ entry['expense_source'] }}</th>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Revenue - {{ table_counts.get('revenue_count') }} entries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Revenue Date</th>
                    <th>Revenue Value</th>
                    <th>Revenue Source</th>
                </tr>
                </thead>
                {% for entry in _object.query_revenue_entries %}
                <tbody class="post">
                <tr>
                    <th class="small mb-1">{{ entry['id'] }}</th>
                    <th class="small mb-1">{{ entry['revenue_date'] }}</th>
                    <th class="small mb-1">{{ entry['revenue_value'] }}</th>
                    <th class="small mb-1">{{ entry['revenue_source'] }}</th>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Savings - {{ table_counts.get('savings_count') }} entries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Savings Date</th>
                    <th>Savings Value</th>
                    <th>Savings Source</th>
                    <th>Savings Reason</th>
                    <th>Savings Action</th>
                </tr>
                </thead>
                {% for entry in _object.query_savings_entries %}
                <tbody class="post">
                <tr>
                    <th class="small mb-1">{{ entry['id'] }}</th>
                    <th class="small mb-1">{{ entry['savings_date'] }}</th>
                    <th class="small mb-1">{{ entry['savings_value'] }}</th>
                    <th class="small mb-1">{{ entry['savings_source'] }}</th>
                    <th class="small mb-1">{{ entry['savings_reason'] }}</th>
                    <th class="small mb-1">{{ entry['savings_action'] }}</th>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}