{% extends 'base.html' %}

{% block meta %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

{% block title %}
<title>MTP | Web App</title>
{% endblock %}

{% endblock %}


{% block header %}
<h1 class="mt-4">Budget Dashboard</h1>
<ol class="breadcrumb mb-4">
    {% if g.user %}
    <li>
        <a class="btn btn-primary" style="margin: 2px;" href="{{ url_for('mtp.index') }}">Blog</a>
    </li>
    <li>
        <a class="btn btn-primary" style="margin: 2px;" href="{{ url_for('budget.add_expense_entry') }}">Add New
            Expense</a>
    </li>
    <li>
        <a class="btn btn-primary" style="margin: 2px;" href="{{ url_for('budget.add_revenue_entry') }}">Add Revenue</a>
    </li>
    <li>
        <a class="btn btn-primary" style="margin: 2px;" href="{{ url_for('budget.add_savings_entry') }}">Add Savings</a>
    </li>
    {% endif %}
</ol>
{% endblock %}


{% block cards %}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Primary Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Warning Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Success Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Error message Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                {% for message in get_flashed_messages() %}
                <a class="small text-white stretched-link" href="#">{{ message }}</a>
                {% endfor %}
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Validation Entries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Items</th>
                    <th>Categories</th>
                    <th>Sources</th>
                    <th>Accounts</th>
                    <th>Actions</th>
                    <th>Reason</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <select class="form-select py-1">
                            {% for item in _object.validation_items %}
                            <option>
                                {{ item['items'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-select py-1">
                            {% for category in _object.validation_categories %}
                            <option>
                                {{ category['categories'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-select py-1">
                            {% for account in _object.validation_savings_accounts %}
                            <option>
                                {{ account['savings_accounts'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-select py-1">
                            {% for source in _object.validation_sources %}
                            <option>
                                {{ source['sources'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-select py-1">
                            {% for action in _object.validation_savings_action_types %}
                            <option>
                                {{ action['savings_action_types'] }}
                            </option>
                            {% endfor %}
                        </select>

                    </td>
                    <td>
                        <select class="form-select py-1">
                            {% for reason in _object.validation_savings_reason %}
                            <option>
                                {{ reason['savings_reason'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="layoutBudgetIndex">
    <div id="layoutBudgetIndex_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-bdgt-1">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Add new Item validation entry
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable-1" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    <label for="items">Items</label>
                                                </th>
                                                <th>
                                                    <label for="categories">Categories</label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <input class="form-control py-4" name="items" id="items"
                                                           value="{{ request.form['items']['categories'] }}"
                                                           placeholder="Ex.: Books"/>
                                                </th>
                                                <th>
                                                    <input class="form-control py-4" name="categories" id="categories-items"
                                                           value="{{ request.form['categories'] }}"
                                                           placeholder="Ex.: Shopping"/>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Add new Category validation entry
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable-2" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <label for="categories">Categories</label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <input class="form-control py-4" name="categories" id="categories"
                                                           value="{{ request.form['categories'] }}"
                                                           placeholder="Ex.: Shopping"/>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Add new Sources validation entry
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable-3" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    <label for="items">Sources</label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <input class="form-control py-4" name="sources" id="sources"
                                                           value="{{ request.form['sources'] }}"
                                                           placeholder="Ex.: Savings EC"/>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Add new Accounts validation entry
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable-4" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    <label for="items">Accounts</label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <input class="form-control py-4" name="accounts" id="accounts"
                                                           value="{{ request.form['accounts'] }}"
                                                           placeholder="Ex.: EC"/>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Add new Actions validation entry
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable-5" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    <label for="items">Actions</label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <input class="form-control py-4" name="actions" id="actions"
                                                           value="{{ request.form['actions'] }}"
                                                           placeholder="Ex.: Deposit"/>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Add new Reason validation entry
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable-6" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    <label for="items">Reason</label>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <input class="form-control py-4" name="reason" id="reason"
                                                           value="{{ request.form['reason'] }}"
                                                           placeholder="Ex.: Charity"/>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


{% endblock %}