{% extends 'base.html' %}

{% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    {% block title %}
        <title>MTP | Web App</title>
    {% endblock %}

{% endblock %}


{% block content %}
    <div class="card mb-4">
        <div class="card-header" id="general">
            General data
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="summary-expense-table" aria-describedby="general">
                    <thead>
                    <tr>
                        <th scope="col">Company name</th>
                        <th scope="col">Observations</th>
                        <th scope="col">latest UTM campaign</th>
                        <th scope="col">latest UTM Source</th>
                        <th scope="col">latest UTM Medium</th>
                        <th scope="col">latest UTM Content</th>
                    </tr>
                    </thead>
                    <tbody class="post">
                    <tr>
                        <th class="small mb-1" scope="row">Company1</th>
                        <th class="small mb-1" scope="row">Competitors</th>
                        <th class="small mb-1" scope="row">July2021-cheap-stuff</th>
                        <th class="small mb-1" scope="row">facebook</th>
                        <th class="small mb-1" scope="row">social</th>
                        <th class="small mb-1" scope="row">product-sku-1</th>
                    </tr>
                    <tr>
                        <th class="small mb-1" scope="row">Company2</th>
                        <th class="small mb-1" scope="row">Randos</th>
                        <th class="small mb-1" scope="row">extra-sale-forever</th>
                        <th class="small mb-1" scope="row">whatsapp</th>
                        <th class="small mb-1" scope="row">social</th>
                        <th class="small mb-1" scope="row">from_site_banner</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header" id="details">
            Company1 Specific view - the company should be selectable from a field
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="summary-expense-table" aria-describedby="details">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Analyzed URL</th>
                        <th scope="col">Campaign</th>
                        <th scope="col">Medium</th>
                        <th scope="col">Source</th>
                        <th scope="col">Content</th>
                        <th scope="col">Observations</th>
                    </tr>
                    </thead>
                    <tbody class="post">
                    <tr>
                        <th class="small mb-1" scope="row">today</th>
                        <th class="small mb-1" scope="row">
                            company1.com/?utm_campaign=whatever&utm_medium=social&utm_source=facebook&utm_content=sales
                        </th>
                        <th class="small mb-1" scope="row">whatever</th>
                        <th class="small mb-1" scope="row">social</th>
                        <th class="small mb-1" scope="row">facebook</th>
                        <th class="small mb-1" scope="row">sales</th>
                        <th class="small mb-1" scope="row">received on email</th>
                    </tr>
                    <tr>
                        <th class="small mb-1" scope="row">yesterday</th>
                        <th class="small mb-1" scope="row">
                            company1.com/?utm_campaign=nowhereclose&utm_medium=social&utm_source=facebook&utm_content=promotions
                        </th>
                        <th class="small mb-1" scope="row">nowhereclose</th>
                        <th class="small mb-1" scope="row">social</th>
                        <th class="small mb-1" scope="row">facebook</th>
                        <th class="small mb-1" scope="row">promotions</th>
                        <th class="small mb-1" scope="row">found on facebook, stolen for competition</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}