{% extends 'base.html' %}

{% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    {% block title %}
        <title>MTP | Web App</title>
    {% endblock %}

{% endblock %}


{% block content %}
    <div class="card mb-4">
        <div class="card-header" id="descriptor">
            Parsed URLs Parameters & Values
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="summary-expense-table" aria-describedby="descriptor">
                    <thead>
                    <tr>
                        <th rowspan="2" scope="colgroup">No.#</th>
                        <th rowspan="2" scope="colgroup">Parse Date</th>
                        <th rowspan="2" scope="colgroup">Full URL</th>
                        {% for i in range(most_params) %}
                            <th colspan="2" scope="col">Parameter {{ i+1 }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in range(most_params) %}
                            <th scope="col">Parameter</th>
                            <th scope="col">Value</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody class="post">
                    {% for i in range(url_data['url']|length) %}
                        <tr>
                            <th class="small mb-1" scope="row">{{ i + 1 }}</th>
                            <th class="small mb-1" scope="row">{{ url_data['date'][i] }}</th>
                            <th class="small mb-1" title="{{ url_data['url'][i] }}" scope="row"><a
                                    href="{{ url_data['url'][i] }}" target="_blank">URL {{ i + 1 }}
                                - {{ url_data['netloc'][i] }}</a></th>
                            {% for key, value in url_data['qs'][i].items() %}
                                <th class="small mb-1" scope="row"> {{ key }}</th>
                                <th class="small mb-1" scope="row"> {{ value[0] }}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}