{% extends 'base.html' %}

{% block header %}
  <li>{% block title %}Posts Dashboard{% endblock %}</li>
  {% if g.user %}
    <a class="action" href="{{ url_for('mtp.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
      <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>About</th>
            <th>Options</th>
        </tr>
      </thead>
  {% for post in posts %}
      <tbody class="post">
        <tr>
          <th>{{ post['title'] }}</th>
          <th class="body">{{ post['body'] }}</th>
          <th class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</th>
          {% if g.user['id'] == post['author_id'] %}
          <th>
           <a class="action" href="{{ url_for('mtp.update', id=post['id']) }}">Edit</a>
          </th>
          {% endif %}
        </tr>
      </tbody>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}