{% extends 'tag_spy_base.html' %}
{% set active_page = "triggers" %}

{% block gtm_content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Trigger name</th>
            <th scope="col">Conditions</th>
            <th scope="col">Blocking</th>
            <th scope="col">Grouping</th>
            <th scope="col">Added in</th>
        </tr>
        </thead>
        <tbody>
        {% for trigger in triggers %}
            {% if trigger['function'] not in skip_keys %}
                {% set trigger_modal_id = trigger['title'] | replace(' ', '') + triggers.index(trigger) | string %}
                {% set trigger_title = trigger['title'] %}
                <tr>
                    <!-- Trigger list start -->
                    <th scope="row">
                        {% if 'pill' in trigger %}
                            <button type="button" class="btn btn-{{ trigger['pill'] }}"
                                    data-toggle="modal"
                                    data-target="#{{ trigger_modal_id }}">
                                {{ trigger_title }}
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                    data-target="#{{ trigger_modal_id }}">
                                {{ trigger_title }}
                            </button>
                        {% endif %}
                    </th>
                    <!-- Trigger list end -->
                    <!-- Firing Triggers start -->
                    <th scope="row">
                        <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                                data-target="#conditionalModal_tag{{ loop.index0 }}">
                            {{ get_len(trigger['_conditions']) }} conditions
                        </button>
                    </th>
                    <!-- Firing Triggers end -->
                    <th scope="row">
                    </th>
                    <th scope="row">
                    </th>
                    <th scope="row">
                    </th>
                </tr>
            {% endif %}
        {% endfor %}
        {% for group in trigger_groups['_group'] %}
            {% set index = find_index(group['function'], triggers_index) %}
            {% set group_modal_id = 'triggerGroup' + trigger_groups['_group'].index(group) | string %}
            <tr>
                <!-- Trigger Group list start -->
                <th scope="row">
                    {% if 'pill' in index %}
                        <button type="button" class="btn btn-{{ index['pill'] }}"
                                data-toggle="modal"
                                data-target="#{{ group_modal_id }}">
                            {{ index['title'] }}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#{{ group_modal_id }}">
                            {{ index['title'] }}
                        </button>
                    {% endif %}
                </th>
                <!-- Trigger Group list end -->
                <!-- Firing Trigger Group start -->
                <th scope="row">
                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                            data-target="#conditionalModal_tag{{ loop.index0 }}">
                        {{ get_len(group['_conditions']) }} conditions
                    </button>
                </th>
                <!-- Firing Trigger Group end -->
                <th scope="row">
                </th>
                <!-- Grouping start -->
                <th scope="row" style="font-weight: normal">
                    <button class="btn btn-outline-info btn-sm" type="button"
                            data-toggle="collapse"
                            data-target="#tagGrouping"
                            aria-expanded="false"
                            aria-controls="tagGrouping">
                        Group Members
                    </button>
                    <div class="collapse"
                         id="tagGrouping">
                        <div class="card card-body">
                            <p class="text-left">
                                {% for trigger in trigger_groups['_triggers'] %}
                                    {% if trigger %}
                                        {% set group_loop = loop %}
                                        {% set found_trigger = find_index(trigger[0]['function'], triggers_index) %}
                                        {% set found_trigger_title = found_trigger['title'] | replace(' ', '') %}
                                        {% set trigger_index = 0 %}
                                        {% for trig in triggers %}
                                            {% if trig['tag_id'] == trigger[0]['tag_id'] %}
                                                {% set trigger_index = loop.index0 %}
                                                {% set found_trigger_modal = found_trigger_title + trigger_index | string %}
                                                <button type="button"
                                                        class="btn btn-primary btn-sm"
                                                        data-toggle="modal"
                                                        data-target="#{{ found_trigger_modal }}">
                                                    {{ found_trigger['title'] }}
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {% for member in trigger_groups['_group_members'] %}
                                    {% if member[0]['_conditions'] %}
                                        {% for rule_set in member[0]['_conditions'] %}
                                            {% for rules in rule_set %}
                                                {% for predicate_index in rules[1:] %}
                                                    {% if predicates[predicate_index]['arg1'] in triggers_index %}
                                                        {% set found_trigger = find_index(predicates[predicate_index]['arg1'], triggers_index) %}
                                                        {% for trigger in triggers %}
                                                            {% if trigger['function'] == predicates[predicate_index]['arg1'] %}
                                                                {% set found_trigger_id = triggers.index(trigger) %}
                                                                {% set trigger_by_tag_id = search_in_container('tags', 'tag_id', found_trigger_id) %}
                                                                {% set found_trigger_title = found_trigger['title'] | replace(' ', '') %}
                                                                {% set found_trigger_modal = found_trigger_title + found_trigger_id | string %}
                                                                <button type="button"
                                                                        class="btn btn-primary btn-sm"
                                                                        data-toggle="modal"
                                                                        data-target="#{{ found_trigger_modal }}">
                                                                    {{ found_trigger['title'] }}
                                                                </button>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-primary btn-sm"
                                                data-toggle="modal"
                                                data-target="#">
                                            {{ member[0]['function'] }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </th>

                <!-- Grouping end -->
                <th scope="row">
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block gtm_modals %}

    {% for trigger in triggers %}
        {% set trigger_modal_id = trigger['title'] | replace(' ', '') + triggers.index(trigger) | string %}
        <!-- Triggers Modals Start -->
        <div class="modal fade" id="{{ trigger_modal_id }}"
             tabindex="-1" role="dialog"
             aria-labelledby="{{ trigger_modal_id }}"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="{{ trigger_modal_id }}">{{ trigger['title'] }}
                            details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-9">
                                    <strong>Key list</strong>
                                    <hr/>
                                    <div class="row">
                                        {% for key in trigger.keys() %}
                                            {% if key not in skip_tag_keys %}
                                                {% set snippet_modal_id = key + loop.index0 | string %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                {#                                            <div class="col-4 col-sm-6">#}
                                                {#                                                <button type="button" data-dismiss="modal"#}
                                                {#                                                        class="btn btn-info btn-sm" data-toggle="modal"#}
                                                {#                                                        data-target="#{{ snippet_modal_id }}">#}
                                                {#                                                    {{ find_index(get_macro(tag[key])['function'], macros_index)['title'] }}#}
                                                {#                                                </button>#}
                                                {#                                            </div>#}
                                                <div class="col-4 col-sm-6">
                                                    <span class="badge badge-pill badge-info">{{ trigger[key] }}</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tag Modals End -->

        <!-- Firing Conditions Start -->
        <div class="modal fade" id="conditionalModal_tag{{ loop.index0 }}"
             tabindex="-1" role="dialog"
             aria-labelledby="conditionalModal_tag{{ loop.index0 }}"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="conditionalModal_tag{{ loop.index0 }}">{{ trigger['title'] }}
                            firing conditions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="container">
                                    {% set conditions = trigger['_conditions'] %}
                                    {% for rule_set in conditions %}
                                        {% set rule_set_loop = loop %}
                                        {% for rule in rule_set %}
                                            <!-- IF section start -->
                                            {% if rule[0] == 'if' %}
                                                <div class="card gtm-card">
                                                    {% for cond in rule[1:] %}
                                                        {% set predicate_index = cond %}
                                                        {% set against = predicates[predicate_index]['arg1'] %}
                                                        {% if against in triggers_index %}
                                                            <div class="card-header">
                                                                Fires on
                                                                <button type="button"
                                                                        class="btn btn-{{ triggers_index[against]['pill'] }} btn-sm">
                                                                    {{ triggers_index[against]['title'] }}
                                                                </button>
                                                            </div>
                                                        {% elif type_check(against) == 'RegEx' %}
                                                            {% set found_tag = tag_from_predicate(against) %}
                                                            {% set tag_index = triggers_index[found_tag['function']] %}
                                                            <div class="card-header">
                                                                Fires on
                                                                <button type="button"
                                                                        class="btn btn-{{ tag_index['pill'] }} btn-sm">
                                                                    {{ tag_index['title'] }}
                                                                </button>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for cond in rule[1:] %}
                                                        {% set predicate_index = cond %}
                                                        {% set evaluate = predicates[predicate_index]['arg0'] %}
                                                        {% set evaluator = predicates[predicate_index]['title'] %}
                                                        {% set against = predicates[predicate_index]['arg1'] %}
                                                        {% set firing_modal_id_if = find_index(get_macro(evaluate)['function'], macros_index)['title'] | replace(' ', '') + evaluate[1] | string %}
                                                        <div class="row justify-content-center align-items-center gtm-row">
                                                            <div class="col gtm-col">
                                                                {% if type_check(predicates[predicate_index]['arg0']) == GTMResourceMacro %}
                                                                    <button type="button" data-dismiss="modal"
                                                                            class="btn btn-primary btn-sm"
                                                                            data-toggle="modal"
                                                                            data-target="#{{ firing_modal_id_if }}">
                                                                        {{ find_index(get_macro(evaluate)['function'], macros_index)['title'] }}
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button" data-dismiss="modal"
                                                                            class="btn btn-primary btn-sm"
                                                                            data-toggle=""
                                                                            data-target="#">
                                                                        {{ evaluate }}
                                                                    </button>
                                                                {% endif %}
                                                                <span class="text-center">
                                                                    {{ evaluator }}
                                                                </span>
                                                                <span class="badge badge-pill badge-info align-middle">
                                                                    {{ against }}</span>
                                                            </div>
                                                        </div>
                                                        {% if not loop.last %}
                                                            <div class="row justify-content-center align-items-center">
                                                                <div class="col-4">
                                                                    <h2 class="gtmspy-hr">
                                                                        <span>AND</span>
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <!-- IF section end -->
                                                <!-- UNLESS section start -->
                                            {% elif rule[0] == 'unless' %}
                                                <div class="row justify-content-center align-items-center">
                                                    <div class="col-4">
                                                        <h2 class="gtmspy-hr">
                                                            <span>OR</span>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card gtm-card">
                                                    {% for cond in rule[1:] %}
                                                        {% set predicate_index = cond %}
                                                        {% set against = predicates[predicate_index]['arg1'] %}
                                                        {% if against in triggers_index %}
                                                            <div class="card-header">
                                                                Fires on
                                                                <button type="button"
                                                                        class="btn btn-{{ triggers_index[against]['pill'] }} btn-sm">
                                                                    {{ triggers_index[against]['title'] }}
                                                                </button>
                                                            </div>
                                                        {% elif type_check(against) == 'RegEx' %}
                                                            {% set found_tag = tag_from_predicate(against) %}
                                                            {% set tag_index = triggers_index[found_tag['function']] %}
                                                            <div class="card-header">
                                                                Fires on
                                                                <button type="button"
                                                                        class="btn btn-{{ tag_index['pill'] }} btn-sm">
                                                                    {{ tag_index['title'] }}
                                                                </button>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for cond in rule[1:] %}
                                                        {% set predicate_index = cond %}
                                                        {% set evaluate = predicates[predicate_index]['arg0'] %}
                                                        {% set evaluator = predicates[predicate_index]['title'] %}
                                                        {% set against = predicates[predicate_index]['arg1'] %}
                                                        {% set firing_modal_id_unless = find_index(get_macro(evaluate)['function'], macros_index)['title'] | replace(' ', '') + evaluate[1] | string %}
                                                        <div class="row justify-content-center align-items-center gtm-row">
                                                            <div class="col gtm-col">
                                                                {% if type_check(predicates[predicate_index]['arg0']) == GTMResourceMacro %}
                                                                    <button type="button" data-dismiss="modal"
                                                                            class="btn btn-primary btn-sm"
                                                                            data-toggle="modal"
                                                                            data-target="#{{ firing_modal_id_unless }}">
                                                                        {{ find_index(get_macro(evaluate)['function'], macros_index)['title'] }}
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button" data-dismiss="modal"
                                                                            class="btn btn-primary btn-sm"
                                                                            data-toggle=""
                                                                            data-target="#">
                                                                        {{ evaluate }}
                                                                    </button>
                                                                {% endif %}
                                                                <span class="text-center">
                                                                    not {{ evaluator }}
                                                                </span>
                                                                <span class="badge badge-pill badge-info align-middle">
                                                                    {{ against }}</span>
                                                            </div>
                                                        </div>
                                                        {% if not rule_set_loop.last %}
                                                            <div class="row justify-content-center align-items-center">
                                                                <div class="col-4">
                                                                    <h2 class="gtmspy-hr">
                                                                        <span>AND</span>
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <!-- UNLESS section end -->
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Firing Conditions End -->

        <!-- Code Block Modals Start -->
        {% for key in trigger.keys() %}
            {% if key in code_snippets %}
                {% set mapping_modal_id = key + loop.index0 | string %}
                <div class="modal fade" id="{{ mapping_modal_id }}"
                     tabindex="1" role="dialog"
                     aria-labelledby="{{ mapping_modal_id }}"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="{{ mapping_modal_id }}">Custom HTML for tag ID {{ tag['tag_id'] }}:
                                    {{ tag['title'] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="container">
                                            <pre>
                                            <code class="language-js">
                                                {{ js_prettify(tag[key]) | e | trim | safe }}
                                            </code>
                                                </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Code Block Modals End -->
    {% endfor %}

    <!-- Variable Modals Start -->
    {% for var in variables %}
        {% set var_macro_id = var['title'] | replace(' ', '') + variables.index(var) | string %}
        <!-- Macro Modals Start -->
        <div class="modal fade" id="{{ var_macro_id }}"
             tabindex="1" role="dialog"
             aria-labelledby="{{ var_macro_id }}"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="{{ var_macro_id }}">Variable:
                            {{ var['title'] }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-8 col-sm-6">
                                            <strong>Property</strong>
                                        </div>
                                        <div class="col-4 col-sm-6">
                                            <strong>Value</strong>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        {% for key in var.keys() %}
                                            {% if key not in skip_tag_keys %}
                                                {% if type_check(var[key]) == GTMResourceMacro %}
                                                    {% set var_modal_id = find_index(get_macro(var[key])['function'], macros_index)['title'] | replace(' ', '') + var[key][1] | string %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    <div class="col-4 col-sm-6">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-info btn-sm" data-toggle="modal"
                                                                data-target="#{{ var_modal_id }}">
                                                            {{ find_index(get_macro(var[key])['function'], macros_index)['title'] }}
                                                        </button>
                                                    </div>
                                                {% elif type_check(var[key]) == 'mapping' %}
                                                    {% set mapping_modal_id = variables.index(var) %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    <div class="col-4 col-sm-6">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-info btn-sm" data-toggle="modal"
                                                                data-target="#macro_{{ mapping_modal_id }}_mapping">
                                                            Data Table
                                                        </button>
                                                    </div>
                                                {% elif key in code_snippets %}
                                                    {% set snippet_modal_id = key + loop.index0 | string %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    <div class="col-4 col-sm-6">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-info btn-sm" data-toggle="modal"
                                                                data-target="#{{ snippet_modal_id }}">
                                                            Custom Javascript
                                                        </button>
                                                    </div>
                                                {% else %}
                                                    {% if key not in skip_macro_keys %}
                                                        <div class="col-8 col-sm-6">
                                                            {{ key }}
                                                        </div>
                                                        {% if var[key] is true %}
                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-success">True</span>
                                                            </div>
                                                        {% elif var[key] is false %}
                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-dark">False</span>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-info">{{ var[key] }}</span>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Macro Modals End -->

        <!-- Macro Input Table Section start-->
        {% for key in var.keys() %}
            {% if type_check(var[key]) == 'mapping' %}
                {% set mapping_modal_index = variables.index(var) %}
                <div class="modal fade" id="macro_{{ mapping_modal_index }}_mapping"
                     tabindex="-1" role="dialog"
                     aria-labelledby="macro_{{ mapping_modal_index }}_mapping"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="macro_{{ mapping_modal_index }}_mapping">Input Mapping for:
                                    {{ var['title'] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-8 col-sm-6">
                                                    <strong>Input</strong>
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <strong>Output</strong>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                {% set process_map =  process_mapping(var[key]) %}
                                                {% set process_map_list =  process_mapping(var[key]).keys() | list %}

                                                {% for map_key in process_map.keys() %}
                                                    {% if loop.index0 % 2 == 0 %}

                                                        {% set current_map_item = process_map[map_key] %}
                                                        {% set next_map_item = process_map[process_map_list[loop.index0 + 1]] %}

                                                        {% if type_check(current_map_item) == GTMResourceMacro %}
                                                            {% set macro_modal_id_current = find_index(get_macro(current_map_item)['function'], macros_index)['title'] | replace(' ', '') + current_map_item[1] | string %}
                                                            <div class="col-8 col-sm-6">
                                                                <button type="button" data-dismiss="modal"
                                                                        class="btn btn-info btn-sm" data-toggle="modal"
                                                                        data-target="#{{ macro_modal_id }}">
                                                                    {{ find_index(get_macro(current_map_item)['function'], macros_index)['title'] }}
                                                                </button>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-8 col-sm-6">
                                                                {{ current_map_item }}
                                                            </div>
                                                        {% endif %}
                                                        {% if type_check(next_map_item) == GTMResourceMacro %}
                                                            {% set macro_modal_id_next = find_index(get_macro(next_map_item)['function'], macros_index)['title'] | replace(' ', '') + next_map_item[1] | string %}
                                                            <div class="col-4 col-sm-6">
                                                                <button type="button" data-dismiss="modal"
                                                                        class="btn btn-info btn-sm" data-toggle="modal"
                                                                        data-target="#{{ macro_modal_id_next }}">
                                                                    {{ find_index(get_macro(next_map_item)['function'], macros_index)['title'] }}
                                                                </button>
                                                            </div>
                                                        {% else %}

                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-info">{{ next_map_item }}</span>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Macro Input Table Section end-->

        <!-- Macro Code Block Modals Start -->
        {% for key in var.keys() %}
            {% if key in code_snippets %}
                {% set mapping_modal_id = key + loop.index0 | string %}
                <div class="modal fade" id="{{ mapping_modal_id }}"
                     tabindex="1" role="dialog"
                     aria-labelledby="{{ mapping_modal_id }}"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="{{ mapping_modal_id }}">Custom HTML for tag ID:
                                    {{ var['title'] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="container">
                                            <pre>
                                            <code class="language-js">
                                                {{ js_prettify(tag[key]) | e | trim | safe }}
                                            </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Macro Code Block Modals End -->
    {% endfor %}
    <!-- Variable Modals End -->

    <!-- Trigger Group Modal start -->
    {% for group in trigger_groups['_group'] %}
        {% set group_modal_id = 'triggerGroup' + trigger_groups['_group'].index(group) | string %}
        <!-- Triggers Modals Start -->
        <div class="modal fade" id="{{ group_modal_id }}"
             tabindex="-1" role="dialog"
             aria-labelledby="{{ group_modal_id }}"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="{{ group_modal_id }}">Trigger Group
                            details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-9">
                                    <strong>Key list</strong>
                                    <hr/>
                                    <div class="row">
                                        {% for key in group.keys() %}
                                            {% if key not in skip_tag_keys %}
                                                {% set snippet_modal_id = key + loop.index0 | string %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                {#                                            <div class="col-4 col-sm-6">#}
                                                {#                                                <button type="button" data-dismiss="modal"#}
                                                {#                                                        class="btn btn-info btn-sm" data-toggle="modal"#}
                                                {#                                                        data-target="#{{ snippet_modal_id }}">#}
                                                {#                                                    {{ find_index(get_macro(tag[key])['function'], macros_index)['title'] }}#}
                                                {#                                                </button>#}
                                                {#                                            </div>#}
                                                <div class="col-4 col-sm-6">
                                                    <span class="badge badge-pill badge-info">{{ group[key] }}</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tag Modals End -->
    {% endfor %}
    <!-- Trigger Group Modal End -->
{% endblock %}