{% extends 'gtm_base.html' %}
{% set active_page = "summary" %}
{% block gtm_content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Tags
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ container_data['tags'] }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Triggers
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ container_data['triggers'] }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Variables
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ container_data['variables'] }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <h5 class="card-header">Most recurrent items</h5>
                    <div class="card-body">
                        <h5 class="card-title">Tag
                            <a href="#" class="btn btn-primary">__html</a>
                            occurs X times</h5>
                        <h5 class="card-title">Trigger
                            <a href="#" class="btn btn-primary">__html</a>
                            occurs X times</h5>
                        <h5 class="card-title">Variable
                            <a href="#" class="btn btn-primary">__html</a>
                            occurs X times</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}