{% extends 'gtm_base.html' %}
{% set active_page = "tags" %}

{% block gtm_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Tags
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}