{% extends 'base.html' %}

{% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    {% block title %}
        <title>MTP | Web App</title>
    {% endblock %}

{% endblock %}

{% block content %}

    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-3 bg-light flex-shrink-1">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start py-2">
                <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                    <li class="nav-item">
                        <span class="navbar-brand pl-0 text-nowrap" href="#">
                            <span class="navbar-text">Currently working on:</span>
                            <br>
                            <a class="gtmspy-link" href="{{ model_gtm_path }}" target="_blank">
                                <span class="font-weight-bold mb-0 h2 bg-spygreen rounded-2">{{ gtm_id }}</span>
                            </a>
                            <span><strong>v{{ version }}</strong></span>
                            <span>&nbsp;</span>
                        </span>
                    </li>
                </ul>
                <form class="form-inline my-2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-outline-secondary">Load</button>
                            <button type="button"
                                    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">GTM-1</a>
                                <a class="dropdown-item" href="#">GTM-2</a>
                                <a class="dropdown-item" href="#">GTM-3</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="GTM-1234567 or URL"
                               aria-label="Text input with segmented dropdown button">
                    </div>
                </form>
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <span class="nav-brand pl-0 text-nowrap" href="#">
                                <span class="font-weight-bold">Container Sections</span>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="{{ url_for('mrk.gtm_intel_variables') }}">
                                <span class="d-none d-md-inline">Variables</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <span class="d-none d-md-inline">Tags</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Tag name</th>
                            <th scope="col" colspan="2">Sequencing</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag in tag_list %}
                            <tr>
                                <!-- Tag list start -->
                                <th scope="row">
                                    {% if 'pill' in tag %}
                                        <button type="button" class="btn btn-{{ tag['pill'] }}" data-toggle="modal"
                                                data-target="#{{ tag['title'] | replace(' ', '') + tag_list.index(tag) | string }}">
                                            {{ tag['title'] }}
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#{{ tag['title'] | replace(' ', '') + tag_list.index(tag) | string }}">
                                            {{ tag['title'] }}
                                        </button>
                                    {% endif %}
                                    {% if 'nameProperty' in tag %}
                                        <span class="badge badge-success">{{ tag[tag['nameProperty']] }}</span>
                                    {% endif %}
                                </th>
                                <!-- Tag list end -->
                                <!-- Sequence list start -->
                                <!-- Sequence 'before' start -->
                                <th scope="row" style="font-weight: normal">
                                    {% if '_sequence' in tag and tag['_sequence'] and 'before' in tag['_sequence'] %}
                                        <button class="btn btn-info" type="button" data-toggle="collapse"
                                                data-target="#before_{{ tag['_sequence']['before'] }}_{{ loop.index0 | string }}"
                                                aria-expanded="false"
                                                aria-controls="before_{{ tag['_sequence']['before'] }}_{{ loop.index0 | string }}">
                                            Setup Tag
                                        </button>
                                        <div class="collapse"
                                             id="before_{{ tag['_sequence']['before'] }}_{{ loop.index0 | string }}">
                                            <div class="card card-body">
                                                <p class="text-left">Tag
                                                    {% if 'pill' in tag %}
                                                        <button type="button" class="btn btn-{{ tag['pill'] }}"
                                                                data-toggle="modal"
                                                                data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['before_index'] | string }}">
                                                            {{ tag_list[tag['_sequence']['before_index']]['title'] }}
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-secondary"
                                                                data-toggle="modal"
                                                                data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['before_index'] | string }}">
                                                            {{ tag_list[tag['_sequence']['before_index']]['title'] }}
                                                        </button>
                                                    {% endif %} wil fire <strong>before</strong> current
                                                    <mark><strong>{{ tag['title'] }}</strong></mark>
                                                    has
                                                    fired.
                                                </p>
                                                {% if tag['_sequence']['before_conditional'] %}
                                                    <p class="text-center"><em>Don`t fire
                                                        <mark><strong>{{ tag['title'] }}</strong></mark>
                                                        if
                                                        {% if 'pill' in tag %}
                                                            <button type="button" class="btn btn-{{ tag['pill'] }}"
                                                                    data-toggle="modal"
                                                                    data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['before_index'] | string }}">
                                                                {{ tag_list[tag['_sequence']['before_index']]['title'] }}
                                                            </button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-toggle="modal"
                                                                    data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['before_index'] | string }}">
                                                                {{ tag_list[tag['_sequence']['before_index']]['title'] }}
                                                            </button>
                                                        {% endif %}
                                                        fails or is
                                                        paused.
                                                    </em>
                                                    </p>
                                                {% else %}
                                                    <p class="text-center" style="tab-size: 6;">
                                                        <em><strong>Disabled</strong>:
                                                            <del>Don`t fire
                                                                <mark><strong>{{ tag['title'] }}</strong></mark>
                                                                if
                                                                {% if 'pill' in tag %}
                                                                    <button type="button" class="btn btn-light"
                                                                            data-toggle="modal"
                                                                            data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['before_index'] | string }}"
                                                                            disabled>
                                                                        <del>{{ tag_list[tag['_sequence']['after_index']]['title'] }}</del>
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button"
                                                                            class="btn btn-outline-secondary"
                                                                            data-toggle="modal"
                                                                            data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['before_index'] | string }}"
                                                                            disabled>
                                                                        <del>{{ tag_list[tag['_sequence']['after_index']]['title'] }}</del>
                                                                    </button>
                                                                {% endif %}

                                                                fails or is
                                                                paused.
                                                            </del>
                                                        </em>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                </th>
                                <!-- Sequence 'before' end -->
                                <!-- Sequence 'after' start -->
                                <th scope="row" style="font-weight: normal">
                                    {% if '_sequence' in tag and tag['_sequence'] and 'after' in tag['_sequence'] %}
                                        <button class="btn btn-info" type="button" data-toggle="collapse"
                                                data-target="#after_{{ tag['_sequence']['after'] }}_{{ loop.index0 | string }}"
                                                aria-expanded="false"
                                                aria-controls="after_{{ tag['_sequence']['after'] }}_{{ loop.index0 | string }}">
                                            Cleanup Tag
                                        </button>
                                        <div class="collapse"
                                             id="after_{{ tag['_sequence']['after'] }}_{{ loop.index0 | string }}">
                                            <div class="card card-body">
                                                <p class="text-left">Tag
                                                    {% if 'pill' in tag %}
                                                        <button type="button" class="btn btn-{{ tag['pill'] }}"
                                                                data-toggle="modal"
                                                                data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['after_index'] | string }}">
                                                            {{ tag_list[tag['_sequence']['after_index']]['title'] }}
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-secondary"
                                                                data-toggle="modal"
                                                                data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['after_index'] | string }}">
                                                            {{ tag_list[tag['_sequence']['after_index']]['title'] }}
                                                        </button>
                                                    {% endif %} wil fire <strong>after</strong> current
                                                    <mark><strong>{{ tag['title'] }}</strong></mark>
                                                    has
                                                    fired.
                                                </p>
                                                {% if tag['_sequence']['after_conditional'] %}
                                                    <p class="text-center"><em>Don`t fire
                                                        {% if 'pill' in tag %}
                                                            <button type="button" class="btn btn-{{ tag['pill'] }}"
                                                                    data-toggle="modal"
                                                                    data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['after_index'] | string }}">
                                                                {{ tag_list[tag['_sequence']['after_index']]['title'] }}
                                                            </button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-toggle="modal"
                                                                    data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['after_index'] | string }}">
                                                                {{ tag_list[tag['_sequence']['after_index']]['title'] }}
                                                            </button>
                                                        {% endif %} if this
                                                        <mark><strong>{{ tag['title'] }}</strong></mark>
                                                        fails or is
                                                        paused.
                                                    </em>
                                                    </p>
                                                {% else %}
                                                    <p class="text-center" style="tab-size: 6;">
                                                        <em><strong>Disabled</strong>:
                                                            <del>Don`t fire
                                                                {% if 'pill' in tag %}
                                                                    <button type="button" class="btn btn-light"
                                                                            data-toggle="modal"
                                                                            data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['after_index'] | string }}"
                                                                            disabled>
                                                                        <del>{{ tag_list[tag['_sequence']['after_index']]['title'] }}</del>
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button"
                                                                            class="btn btn-outline-secondary"
                                                                            data-toggle="modal"
                                                                            data-target="#{{ tag['title'] | replace(' ', '') + tag['_sequence']['after_index'] | string }}"
                                                                            disabled>
                                                                        <del>{{ tag_list[tag['_sequence']['after_index']]['title'] }}</del>
                                                                    </button>
                                                                {% endif %} if this
                                                                <mark><strong>{{ tag['title'] }}</strong></mark>
                                                                fails or is
                                                                paused.
                                                            </del>
                                                        </em>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>

                                    {% endif %}
                                </th>
                                <!-- Sequence 'before' end -->
                                <!-- Sequence list end -->
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>


    <!-- Tag Modals Start -->
    {% for tag in tag_list %}
        <div class="modal fade" id="{{ tag['title'] | replace(' ', '') + tag_list.index(tag) | string }}"
             tabindex="-1" role="dialog"
             aria-labelledby="{{ tag['title'] | replace(' ', '') + tag_list.index(tag) | string }}"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="{{ tag['title'] | replace(' ', '') + tag_list.index(tag) | string }}">{{ tag['title'] }}
                            details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-9">
                                    <strong>Key list</strong>
                                    <hr/>
                                    <div class="row">
                                        {% for key in tag.keys() %}
                                            {% if key in code_snippets %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <button type="button" data-dismiss="modal"
                                                            class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#{{ key + loop.index0 | string }}">
                                                        Code Snippet
                                                    </button>
                                                </div>
                                            {% elif type_check(tag[key]) == 'macro' %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <button type="button" data-dismiss="modal"
                                                            class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#{{ find_index(get_macro(tag[key])['function'], macros_index)['title'] | replace(' ', '') + tag[key][1] | string }}">
                                                        {{ find_index(get_macro(tag[key])['function'], macros_index)['title'] }}
                                                    </button>
                                                </div>
                                            {% elif type_check(tag[key]) == 'mapping' %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <button type="button" data-dismiss="modal"
                                                            class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#macro_{{ tag_list.index(tag) }}_mapping">
                                                        Data Table
                                                    </button>
                                                </div>
                                            {% else %}
                                                {% if key not in skip_tag_keys %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    {% if tag[key] is true %}
                                                        <div class="col-4 col-sm-6">
                                                            <span class="badge badge-pill badge-success">True</span>
                                                        </div>
                                                    {% elif tag[key] is false %}
                                                        <div class="col-4 col-sm-6">
                                                            <span class="badge badge-pill badge-dark">False</span>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-4 col-sm-6">
                                                            <span class="badge badge-pill badge-info">{{ tag[key] }}</span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Tag Modals End -->

    <!-- Code Block Modals Start -->
    {% for tag in tag_list %}
        {% for key in tag.keys() %}
            {% if key in code_snippets %}
                <div class="modal fade" id="{{ key + loop.index0 | string }}"
                     tabindex="1" role="dialog"
                     aria-labelledby="{{ key + loop.index0 | string }}"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="{{ key + loop.index0 | string }}">Code Block for tag ID {{ tag['tag_id'] }}:
                                    {{ tag['title'] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="container">
                                            <code>
                                                {{ tag[key] | e | trim }}
                                            </code>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <!-- Code Block Modals End -->

    <!-- Macro Modals Start -->
    {% for var in variables %}
        <div class="modal fade" id="{{ var['title'] | replace(' ', '') + variables.index(var) | string }}"
             tabindex="1" role="dialog"
             aria-labelledby="{{ var['title'] | replace(' ', '') + variables.index(var) | string }}"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="{{ var['title'] | replace(' ', '') + variables.index(var) | string }}">Variable:
                            {{ var['title'] }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-8 col-sm-6">
                                            <strong>Property</strong>
                                        </div>
                                        <div class="col-4 col-sm-6">
                                            <strong>Value</strong>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        {% for key in var.keys() %}
                                            {% if key not in skip_tag_keys %}
                                                {% if type_check(var[key]) == 'macro' %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    <div class="col-4 col-sm-6">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-info btn-sm" data-toggle="modal"
                                                                data-target="#{{ find_index(get_macro(var[key])['function'], macros_index)['title'] | replace(' ', '') + var[key][1] | string }}">
                                                            {{ find_index(get_macro(var[key])['function'], macros_index)['title'] }}
                                                        </button>
                                                    </div>
                                                {% elif type_check(var[key]) == 'mapping' %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    <div class="col-4 col-sm-6">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-info btn-sm" data-toggle="modal"
                                                                data-target="#macro_{{ variables.index(var) }}_mapping">
                                                            Data Table
                                                        </button>
                                                    </div>
                                                {% else %}
                                                    {% if key not in skip_macro_keys %}
                                                        <div class="col-8 col-sm-6">
                                                            {{ key }}
                                                        </div>
                                                        {% if var[key] is true %}
                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-success">True</span>
                                                            </div>
                                                        {% elif var[key] is false %}
                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-dark">False</span>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-info">{{ var[key] }}</span>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Macro Modals End -->

    <!-- Macro Input Table Section start-->
    {% for var in variables %}
        {% for key in var.keys() %}
            {% if type_check(var[key]) == 'mapping' %}
                <div class="modal fade" id="macro_{{ variables.index(var) }}_mapping"
                     tabindex="-1" role="dialog"
                     aria-labelledby="macro_{{ variables.index(var) }}_mapping"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="macro_{{ variables.index(var) }}_mapping">Input Mapping for:
                                    {{ var['title'] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-8 col-sm-6">
                                                    <strong>Input</strong>
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <strong>Output</strong>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                {% set process_map =  process_mapping(var[key]) %}
                                                {% set process_map_list =  process_mapping(var[key]).keys() | list %}

                                                {% for map_key in process_map.keys() %}
                                                    {% if loop.index0 % 2 == 0 %}

                                                        {% set current_map_item = process_map[map_key] %}
                                                        {% set next_map_item = process_map[process_map_list[loop.index0 + 1]] %}

                                                        {% if type_check(current_map_item) == 'macro' %}
                                                            <div class="col-8 col-sm-6">
                                                                <button type="button" data-dismiss="modal"
                                                                        class="btn btn-info btn-sm" data-toggle="modal"
                                                                        data-target="#{{ find_index(get_macro(current_map_item)['function'], macros_index)['title'] | replace(' ', '') + current_map_item[1] | string }}">
                                                                    {{ find_index(get_macro(current_map_item)['function'], macros_index)['title'] }}
                                                                </button>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-8 col-sm-6">
                                                                {{ current_map_item }}
                                                            </div>
                                                        {% endif %}
                                                        {% if type_check(next_map_item) == 'macro' %}
                                                            <div class="col-4 col-sm-6">
                                                                <button type="button" data-dismiss="modal"
                                                                        class="btn btn-info btn-sm" data-toggle="modal"
                                                                        data-target="#{{ find_index(get_macro(next_map_item)['function'], macros_index)['title'] | replace(' ', '') + next_map_item[1] | string }}">
                                                                    {{ find_index(get_macro(next_map_item)['function'], macros_index)['title'] }}
                                                                </button>
                                                            </div>
                                                        {% else %}

                                                            <div class="col-4 col-sm-6">
                                                                <span class="badge badge-pill badge-info">{{ next_map_item }}</span>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <!-- Macro Input Table Section end-->


    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/GTM-T7MRFWX.js') }}"></script>
    {% endblock %}


{% endblock %}