{% extends 'base.html' %}

{% block meta %}
    <!--suppress GrazieInspection -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    {% block title %}
        <title>MTP | Web App</title>
    {% endblock %}

{% endblock %}

{% block content %}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create New
                                    Post</h3>
                                </div>
                                <div class="card-body">

                                    <div class="small mb-1">Image</div>
                                    <div class="dropzone" id="dropzone">
                                    </div>
                                    <form method="post" id="post-form" action="{{ url_for('blog.create') }}" novalidate>
                                        {{ create_post_form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ create_post_form.post_title.label(class='small mb-1') }}
                                            {{ create_post_form.post_title(form='post-form', class='form-control py-4') }}
                                        </div>
                                        <div class="form-group">
                                            {{ create_post_form.post_body.label(class='small mb-1') }}
                                            {{ create_post_form.post_body(form='post-form', class='form-control py-4') }}
                                        </div>
                                        {{ create_post_form.submit_post(form='post-form', class='btn btn-primary') }}
                                        <a class="btn btn-danger" href="{{ url_for('blog.index') }}">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/wysiwyg_editor.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    {% endblock %}
{% endblock %}