{% extends 'base.html' %}

{% block meta %}
<!--suppress GrazieInspection -->
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

{% block title %}
<title>MTP | Web App</title>
{% endblock %}

{% endblock %}

{% block content %}
<div class="container-for-posts">
    <div class="row pt-5-for-posts m-auto">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 pb-3">
            <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                <div class="card-custom-img"
                     style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                <div class="card-custom-avatar">
                    <img class="img-fluid"
                         src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg"
                         alt="Avatar"/>
                </div>
                <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.body }}</p>
                    <p class="card-text">by {{ post.author_id }} on {{ post.created.strftime('%Y-%m-%d') }}</p>
                </div>
                {% if current_user.id == post.author_id %}
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="{{ url_for('blog.update', post_id=post.id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('blog.delete', post_id=post.id) }}" class="btn btn-outline-primary">Delete</a>
                </div>
                {% else %}
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Log in to edit posts.</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}