{% extends 'base.html' %}

{% block meta %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

{% block title %}
<title>MTP | Web App</title>
{% endblock %}

{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Posts
    </div>
    <div class="card-body">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>About</th>
                    <th>Image</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody class="post">
                {% for post in posts %}
                <tr>
                    <th class="small mb-1">{{ post.title }}</th>
                    <th class="small mb-1">{{ post.body }}</th>
                    <th class="small mb-1">by {{ post.username }} on {{ post.created.strftime('%Y-%m-%d')
                        }}
                    </th>
                    <th>
                        <img src="{{ url_for('static', filename='avatar.png') }}"
                             style="width: 50px; height: 50px; align: center"/>
                    </th>

                    {% if current_user.id == post.author_id %}
                    <th>
                        <div class="custom-container">
                            <a class="action" href="{{ url_for('blog.update', post_id=post.id) }}">Edit</a>
                            <p>|</p>
                            <a class="action" href="{{ url_for('blog.delete', post_id=post.id) }}">Delete</a>
                        </div>
                    </th>
                    {% else %}
                    <th>
                        <span><a class="action" href="{{ url_for('auth.login') }}">Log in</a> to edit posts.</span>
                    </th>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}