{% extends 'budget_base.html' %}

{% block budget_data %}
<div id="layoutBudgetIndex">
    <div id="layoutBudgetIndex_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-bdgt-1">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Add new Expense
                                Entry</h3></div>
                            <div class="card-body">
                                <form method="post" id="expense-form" action="{{ url_for('budget.add_expense_entry') }}"
                                      novalidate>
                                    {{ expense_form.hidden_tag() }}
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="Expense1" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="font-weight= bold;">
                                                    {{ expense_form.expense_date.label(for='expense-form') }}
                                                </th>
                                                <th>
                                                    {{ expense_form.expense_item.label(for='expense-form') }}
                                                </th>
                                                <th>
                                                    {{ expense_form.expense_value.label(for='expense-form') }}
                                                </th>
                                                <th>
                                                    {{ expense_form.expense_source.label(for='expense-form') }}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>
                                                    {{ expense_form.expense_date(form='expense-form',
                                                    class='form-control py-4', placeholder="Ex.: 2021-01-15") }}
                                                </th>
                                                <th>
                                                    {{ expense_form.expense_item(form='expense-form', class='form-select
                                                    py-4', placeholder="Ex.: Books") }}
                                                </th>
                                                <th>
                                                    {{ expense_form.expense_value(form='expense-form',
                                                    class='form-control py-4', placeholder="Ex.: 15.25") }}
                                                </th>
                                                <th>
                                                    {{ expense_form.expense_source(form='expense-form',
                                                    class='form-select py-4') }}
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{ expense_form.submit_expense(form='expense-form', value="Save", class="btn
                                    btn-primary") }}
                                    <a class="btn btn-danger" href="{{ url_for('budget.summary') }}">Cancel</a>
                                    <a class="btn btn-info showTable">Show table</a>
                                    <a class="btn btn-secondary hideTable" style="display: none;">Hide Table</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="card mb-4" style="display: none;">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <strong>Expense Summary</strong> - {{ table_counts.get('expense_count') }} entries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="expense-summary-table" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Expense Date</th>
                    <th>Expense Item</th>
                    <th>Expense Value</th>
                    <th>Expense Category</th>
                    <th>Expense Source</th>
                    <th>Entry Options</th>
                </tr>
                </thead>
                <tbody class="post">
                {% for entry in expense_entries %}
                <tr>
                    <th class="small mb-1">{{ entry['id'] }}</th>
                    <th class="small mb-1">{{ entry['expense_date'] }}</th>
                    <th class="small mb-1">{{ entry['expense_item'] }}</th>
                    <th class="small mb-1">{{ entry['expense_value'] }}</th>
                    <th class="small mb-1">{{ entry['expense_item_category'] }}</th>
                    <th class="small mb-1">{{ entry['expense_source'] }}</th>
                    <th class="small mb-1"></th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block scripts %}
<script type="text/javascript">
        $(document).ready(function () {
        $('a[class="btn btn-info showTable"]').click(function(){
              $('div[class="card mb-4"]').show();
              $('a[class="btn btn-secondary hideTable"]').show();
              $('a[class="btn btn-info showTable"]').hide();
      var table = $('#expense-summary-table').DataTable({
        serverSide: true,
        ajax: {
            url: '/api/data',
            data: {
                loc_path: (function(data) {
                        data = window.location.pathname;
                        return data;
                        }())
                }
            },
        columns: [
          {data: "id", orderable: false},
          {data: "expense_date"},
          {data: "expense_item"},
          {data: "expense_value"},
          {data: "expense_item_category", orderable: false},
          {data: "expense_source", orderable: false},
          {data: "entry_options", orderable: false},
        ],
        });
        });
        $('a[class="btn btn-secondary hideTable"]').click(function(){
            $('#expense-summary-table').DataTable().destroy();
            $('div[class="card mb-4"]').hide();
            $('a[class="btn btn-secondary hideTable"]').hide();
            $('a[class="btn btn-info showTable"]').show();
        });
    });
</script>
{% endblock %}
{% endblock %}