{% extends 'budget_base.html' %}

{% block budget_data %}
    <div id="layoutBudgetIndex">
        <div id="layoutBudgetIndex_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-bdgt-1">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4" id="saving">Add
                                    new Savings
                                    Entry</h3></div>
                                <div class="card-body">
                                    <form action="{{ url_for('budget.add_savings_entry') }}" id="savings-form"
                                          method="post">
                                        {{ savings_form.hidden_tag() }}
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable"
                                                   aria-describedby="saving">
                                                <thead>
                                                <tr>
                                                    <th style="font-weight= bold;" scope="col">
                                                        {{ savings_form.savings_date.label(for='savings-form') }}
                                                    </th>
                                                    <th scope="col">
                                                        {{ savings_form.savings_value.label(for='savings-form') }}
                                                    </th>
                                                    <th scope="col">
                                                        {{ savings_form.savings_account.label(for='savings-form') }}
                                                    </th>
                                                    <th scope="col">
                                                        {{ savings_form.savings_reason.label(for='savings-form') }}
                                                    </th>
                                                    <th scope="col">
                                                        {{ savings_form.savings_action.label(for='savings-form') }}
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">
                                                        {{ savings_form.savings_date(form='savings-form',
                                                    class='form-control py-4', placeholder="Ex.: 2021-01-15") }}
                                                    </th>
                                                    <th scope="row">
                                                        {{ savings_form.savings_value(form='savings-form',
                                                    class='form-control py-4', placeholder="Ex.: 500") }}
                                                    </th>
                                                    <th scope="row">
                                                        {{ savings_form.savings_account(form='savings-form',
                                                    class='form-select py-4') }}
                                                    </th>
                                                    <th scope="row">
                                                        {{ savings_form.savings_reason(form='savings-form',
                                                    class='form-select py-4') }}
                                                    </th>
                                                    <th scope="row">
                                                        {{ savings_form.savings_action(form='savings-form',
                                                    class='form-select py-1') }}
                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {{ savings_form.submit_savings(form='savings-form', value="Save", class="btn
                                    btn-primary") }}
                                        <a class="btn btn-danger" href="{{ url_for('budget.summary') }}">Cancel</a>
                                        <a class="btn btn-info showTable">Show table</a>
                                        <a class="btn btn-secondary hideTable" style="display: none;">Hide Table</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="card mb-4" style="display: none;">
        <div class="card-header" id="saving-summary">
            <strong>Savings Summary</strong> - {{ table_counts.get('saving_count') }} entries
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="savings-summary-table" aria-describedby="saving-summary">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Savings Date</th>
                        <th scope="col">Savings Value</th>
                        <th scope="col">Savings Account</th>
                        <th scope="col">Savings Reason</th>
                        <th scope="col">Savings Action</th>
                        <th scope="col">Entry Options</th>
                    </tr>
                    </thead>
                    <tbody class="post">
                    {% for entry in savings_entries %}
                        <tr>
                            <th class="small mb-1" scope="row">{{ entry['id'] }}</th>
                            <th class="small mb-1" scope="row">{{ entry['saving_date'] }}</th>
                            <th class="small mb-1" scope="row">{{ entry['saving_value'] }}</th>
                            <th class="small mb-1" scope="row">{{ entry['saving_source'] }}</th>
                            <th class="small mb-1" scope="row">{{ entry['saving_reason'] }}</th>
                            <th class="small mb-1" scope="row">{{ entry['saving_action'] }}</th>
                            <th class="small mb-1" scope="row"></th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/tables.js') }}"></script>
    {% endblock %}
{% endblock %}