{% macro tag_trigger_group_main(main_loop_element, modal_id, modal_type) %}
    <div class="modal fade" id="{{ modal_id }}"
         tabindex="-1" role="dialog"
         aria-labelledby="{{ modal_id }}"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="{{ modal_id }}">
                        {% if modal_type == 'trigger_group' %}
                            Trigger Group
                            details
                        {% elif modal_type == 'tag' %}
                            {{ main_loop_element['title'] }}
                            details
                        {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                <strong>Key list</strong>
                                <hr/>
                                {% if modal_type == 'trigger_group' %}
                                    <div class="row">
                                        {% for key in main_loop_element.keys() %}
                                            {% if key not in skip_tag_keys %}
                                                {% set snippet_modal_id = key + loop.index0 | string %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                {#                                            <div class="col-4 col-sm-6">#}
                                                {#                                                <button type="button" data-dismiss="modal"#}
                                                {#                                                        class="btn btn-info btn-sm" data-toggle="modal"#}
                                                {#                                                        data-target="#{{ snippet_modal_id }}">#}
                                                {#                                                    {{ find_index(get_macro(tag[key])['function'], macros_index)['title'] }}#}
                                                {#                                                </button>#}
                                                {#                                            </div>#}
                                                <div class="col-4 col-sm-6">
                                                    <span class="badge badge-pill badge-info">{{ group[key] }}</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% elif modal_type == 'tag' %}
                                    <div class="row">
                                        {% for key in main_loop_element.keys() %}
                                            {% if key in code_snippets %}
                                                {% set snippet_modal_id = key + loop.index0 | string %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <button type="button" data-dismiss="modal"
                                                            class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#{{ snippet_modal_id }}">
                                                        Custom HTML
                                                    </button>
                                                </div>
                                            {% elif type_check(tag[key]) == GTMResourceMacro %}
                                                {% set macro_modal_id = find_index(get_macro(tag[key])['function'], macros_index)['title'] | replace(' ', '') + tag[key][1] | string %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <button type="button" data-dismiss="modal"
                                                            class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#{{ macro_modal_id }}">
                                                        {{ find_index(get_macro(tag[key])['function'], macros_index)['title'] }}
                                                    </button>
                                                </div>
                                            {% elif type_check(tag[key]) == 'mapping' %}
                                                {% set mapping_modal_id = tag_list.index(tag) %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    <button type="button" data-dismiss="modal"
                                                            class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#macro_{{ mapping_modal_id }}_mapping">
                                                        Data Table
                                                    </button>
                                                </div>
                                            {% else %}
                                                {% if key not in skip_tag_keys %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    {% if tag[key] is true %}
                                                        <div class="col-4 col-sm-6">
                                                            <span class="badge badge-pill badge-success">True</span>
                                                        </div>
                                                    {% elif tag[key] is false %}
                                                        <div class="col-4 col-sm-6">
                                                            <span class="badge badge-pill badge-dark">False</span>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-4 col-sm-6">
                                                            <span class="badge badge-pill badge-info">{{ tag[key] }}</span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endmacro %}