{% macro tag_trigger_group_main(main_loop_element, modal_id, modal_type) %}
    <div class="modal fade" id="{{ modal_id }}"
         tabindex="-1" role="dialog"
         aria-labelledby="{{ modal_id }}"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="{{ modal_id }}">
                        {% if modal_type == 'trigger_group' %}
                            Trigger Group
                            details
                        {% elif modal_type == 'tag' %}
                            {{ main_loop_element['title'] }}
                            details
                        {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                <strong>Key list</strong>
                                <hr/>
                                {% if modal_type == 'trigger_group' %}
                                    <div class="row">
                                        {% for key, var in main_loop_element.items() %}
                                            {% if key not in skip_tag_keys %}
                                                {% set snippet_modal_id = key + loop.index0 | string %}
                                                <div class="col-8 col-sm-6">
                                                    {{ key }}
                                                </div>
                                                {#                                            <div class="col-4 col-sm-6">#}
                                                {#                                                <button type="button" data-dismiss="modal"#}
                                                {#                                                        class="btn btn-info btn-sm" data-toggle="modal"#}
                                                {#                                                        data-target="#{{ snippet_modal_id }}">#}
                                                {#                                                    {{ find_index(get_macro(tag[key])['function'], macros_index)['title'] }}#}
                                                {#                                                </button>#}
                                                {#                                            </div>#}
                                                <div class="col-4 col-sm-6">
                                                    <span class="badge badge-pill badge-info">{{ group[key] }}</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% elif modal_type == 'tag' %}
                                    <div class="row">
                                        {% from 'mrk/utils.html' import process_macro_key %}
                                        {% for key, value in main_loop_element.items() %}
                                            {% if key not in skip_tag_keys %}
                                                {% if key in code_snippets %}
                                                    {% set snippet_modal_id = key + main_loop_element['tag_idx'] | string %}
                                                    {{ process_macro_key(key, snippet_modal_id, 'Custom HTML') }}
                                                {% elif type_check(value) == 'macro' %}
                                                    {% set macro_modal_id = variables[value[1]]['function'] + variables[value[1]]['macro_idx'] | string %}
                                                    {% set child_modal_name = find_index(variables[value[1]]['function'], macros_index)['title'] %}
                                                    {{ process_macro_key(key, macro_modal_id, child_modal_name) }}
                                                {% elif value is mapping %}
                                                    {% set mapping_modal_id = 'macro_' + main_loop_element['tag_idx'] | string + '_mapping' %}
                                                    {{ process_macro_key(key, mapping_modal_id, 'Data Table') }}
                                                {% else %}
                                                    <div class="col-8 col-sm-6">
                                                        {{ key }}
                                                    </div>
                                                    {% if value is true %}
                                                        {{ process_macro_key(child_modal_name=value, badge_type='success', modal_type='no-modal') }}
                                                    {% elif value is false %}
                                                        {{ process_macro_key(child_modal_name=value, badge_type='dark', modal_type='no-modal') }}
                                                    {% else %}
                                                        {{ process_macro_key(child_modal_name=value, badge_type='info', modal_type='no-modal') }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endmacro %}