{% extends 'base.html' %}
{% set navigation_bar = [
    (url_for('permissions.user_roles'), 'user_roles', 'User Roles'),
    (url_for('permissions.all_users'), 'all_users', 'All Users')
] %}
{% set active_page = active_page|default('user_roles') %}

{% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    {% block title %}
        <title>MTP | Web App</title>
    {% endblock %}

{% endblock %}
{% block content %}
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 bg-light flex-shrink-1">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <span class="nav-brand pl-0 text-nowrap" href="#">
                                <span class="font-weight-bold">Permissions</span>
                            </span>
                        </li>
                        {% for href, id, caption in navigation_bar %}
                            <li
                                    {% if id == active_page %}
                                        class="badge badge-info" style="text-align: left;"
                                    {% else %}
                                        class="badge badge-light" style="text-align: left;"
                                    {% endif %}
                            >
                                <a class="nav-link pl-0" href="{{ href|e }}">
                                    <span class="d-none d-md-inline">{{ caption|e }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    {% block permission_content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}